.menu_container {
  padding: 0;
}

.menu_card {
  background-color: #f0f2f5;
  padding: 1rem;
  border-radius: 8px;
}

.menu_header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.restaurant_image_wrapper {
  width: 120px;
  height: 120px;
  border: 5px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.restaurant_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3e3e3e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.infos_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.restaurant_info {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.rating_container {
  display: flex;
  column-gap: 4px;
  align-items: baseline;
  font-size: 1rem;
}

.average_rating {
  font-weight: 600;
  color: #3e3e3e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 2rem;
}

.rating_count {
  color: #3e3e3e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.5;
}

.dishes_info {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
}

.dishes_quantity {
  display: flex;
  column-gap: 4px;
  align-items: baseline;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  column-gap: 0.5rem;
}

.cheaper_dish_container {
  display: flex;
  column-gap: 0.3rem;
  align-items: baseline;
  column-gap: 1rem;
}

.price {
  color: #3e3e3e;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #3e3e3e;
  margin: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dishes_container {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  column-gap: 2rem;
}

@media (max-width: 600px) {
  .name {
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
  }

  .dishes_quantity {
    font-size: 1rem;
  }

  .price {
    font-size: 0.95rem;
  }

  .menu_title {
    font-size: 1.1rem;
  }

  .rating_container {
    font-size: 0.9rem;
  }

  .average_rating,
  .rating_count {
    font-size: 0.9rem;
  }

  .restaurant_image_wrapper {
    width: 90px;
    height: 90px;
  }

  .menu_header {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    justify-content: center;
  }

  .restaurant_info {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .infos_container {
    row-gap: 0.5rem;
  }

  .dishes_info {
    column-gap: 1rem;
  }
}