/* Fontes e reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Zebra */
.ant-table-tbody>tr:nth-child(odd)>td {
  background-color: #fafafa;
}

/* Bordas arredondadas + sombra */
.ant-table {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* Estilização do cabeçalho */
.custom-table .ant-table-thead>tr>th {
  background-color: #a8071a !important;
  /* Vermelho primário */
  color: #ffffff !important;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
}

/* Títulos do modal */
.ant-modal-title {
  font-size: 18px;
  font-weight: 600;
}

/* Espaçamento interno nas células */
.ant-table-cell {
  padding: 12px;
}

/* Tag centralizada */
.ant-tag {
  display: inline-block;
  text-align: center;
}

.employee-order-concluido {
  opacity: 0.5;
}

.menu {
  background-color: #a8071a;

  .ant-menu-item,
  .ant-menu-submenu-title {
    color: white !important;
    font-weight: 600;
  }

  .ant-menu-title-content {
    color: white !important;
    font-weight: 600;
  }

  .ant-menu-item-icon {
    color: white !important;
  }

  .ant-menu-item-selected {
    background-color: #871010 !important;
    color: white !important;

    .ant-menu-title-content {
      color: white !important;
    }
  }

  .ant-menu-item:hover {
    background-color: #871010 !important;
    color: white !important;

    .ant-menu-title-content {
      color: white !important;
    }
  }
}